# Created by Vercel CLI
VERCEL_OIDC_TOKEN="PEDIR_O_CODIGO_VERCEL_PARA_O_GRUPO_DE_DESENVOLVIMENTO.APOS_CONSEGUIR_COLE_O_CODIGO_EM_'.env'_E_NAO_AQUI."
# URL da API para desenvolvimento local
VITE_API_URL=http://localhost:3000